* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 200px;
  height: 300px;
  margin: auto;
  border: 1px solid #aaa;
  border-radius: 20px;
}

.display {
  width: 100px;
  height: 100px;
  border: 1px solid #aaa;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

input {
  border: none;
  border-bottom: 1px solid rgb(230, 146, 38);
  padding-top: 50px;
  text-align: center;
}

.output {
  padding-top: 50px;
}

button {
  width: 150px;
  height: 40px;
  background-color: rgb(230, 146, 38);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(204, 133, 40);
}

a {
  text-decoration: none;
  padding: 10px;
  color: #000;
  margin: auto;
}
a:hover {
  color: #f00;
}

/* ========= POKE LIST ========== */
.grid-container {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-auto-rows: 50px;
}

.grid-container .grid-item{
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 3px;
}


